body{
    background-color:#7cc0d8;
    background-position: center;
    margin: 0;
}
.header{
    text-align: center;
}
.header img{
    height: 60px;
    width: 200px;
    margin-top: 5px;
    margin-left: 5px;
   }

 .body{
     background-color:black ;
     display: flex;
     height: 900px;
 }  
 .kiri{
     list-style-type: none;
     padding: 10px;
 
 }
 .kiri a{
     text-decoration: none;
     color: white;
     font-size: 15px;
     
 }
 .link{
    position: relative;
    list-style-type: none;
    padding: 10px;
    padding-top: 100px;
 }
.link a{
    text-decoration: none;
     color: white;
     font-size: 18px;
}


 .kanan{
     flex: 80%;
     background-color: white;
     padding: 10px;
 }
 .atas{
     border-bottom: 2px solid black;
 }
 .Statistik{
     display: flex;
     justify-content: space-around;
     padding-bottom: 20px;
     border-bottom: 1px solid grey;
 }

.kotak1 {
    background-color:rgb(61, 137, 206);
    border:1px solid black;
    border-radius:  5px;
    padding: 5px;
    width: 150px;
    height: 90px;
    padding-bottom: 15px;
}
.kotak1 img{
    position: relative;
    width: 25px;
    height: 25px;
    top: 20px;
}
.kotak1 h3{
    text-align: center;
    border-bottom :1px solid black ;
}
.user{
    margin-top: -20px;
    display: flex;
    justify-content: space-around;
}
.kotak2{
    background-color: rgb(16, 247, 178);
    border:1px solid black;
    border-radius:  5px;
    padding: 5px;
    width: 150px;
    height: 90px;
    padding-bottom: 15px;
}
.kotak2 h4{
    text-align: center;
    border-bottom :1px solid black ;
}
.kotak2 img{
    position: relative;
    width: 25px;
    height: 25px;
    top: 20px;
}
.kotak3{
    background-color:rgb(247, 75, 75);
    border:1px solid black;
    border-radius:  5px;
    padding: 5px;
    width: 150px;
    height: 90px;
    padding-bottom: 15px;
}
.kotak3 h4{
    text-align: center;
    border-bottom :1px solid black ;
}
.kotak3 img{
    position: relative;
    width: 25px;
    height: 25px;
    top: 20px;
}
.bawah{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}
.box{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 450px;
    height: 470px;
}
.box h3 {
    border-bottom:1px solid black ;
    text-align: center;
    
}
.karyawan{
    display: flex;
    border-bottom: 0.1px solid grey;
    width: 400px;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
}
.karyawan1{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
}
.hari{
    display: flex;
    border-bottom: 1px solid grey;
    width: 250px;
    height: auto;
    padding-right: 5px;
}
.hari h2{
    font-size: 18px;
}

.hari img{
    padding-top: 15px;
    width: 60px;
    height: 60px;
}
.box1{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 280px;
    height: 510px;
}
.box1 h3 {
    border-bottom:1px solid black ;
    text-align: center;
    
}
.hari1{
    display: flex;
    width: 350px;
    height: auto;
    padding-right: 5px;
}
.hari1 img{
    padding-top: 15px;
    width: 60px;
    height: 60px;
}
.tanggal {
    padding-left: 30px;
}
.tanggal p{
    padding-left: 25px;
}
.hari1 h2{
    font-size: 20px;
}
.footer{
    text-align: center;
    padding: 10px;
}