body{
    background-color:#7cc0d8;
    background-position: center;
}
.header{
    text-align: center;
}
.header img{
    height: 80px;
    width: 250px;
    margin-top: 50px;
   }
.content{
    background :rgba(255,255,255,.2) ;
    position: relative;
    margin: auto;
    width: 500px;
    height: 200px;
    margin-top: 30px;
}
form{
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
}
#Email{
    position: relative;
    padding: 0 22px;
    left: 20px;
    top: -5px;
    line-height: 0px;
    width: 200px;
}
#Password{
    position: relative;
    padding: 0 22px;
    left: 5px;
    top: -5px;
    line-height: 0px;
    width: 200px;
}
.content a{
    text-decoration: none;
    color:black;
    font-size: 14px;
}
